.tittit{
    color: blue;
}

.margen{
    margin-left: 700px;
    margin-right: 700px;
    text-align: center;
}

.form1{
    text-align: left;
    color: rgb(85, 81, 81);
}

.texto1{
    color: rgb(97, 93, 93);
}

.tam{
    /* padding-left: 1500px; */
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}